html,body{
    height: 100%;  
}
body{

    background-image: url('C:/Users/HP/Desktop/HTML AND CSS/DANIEL WALTER SCOTT - RESPONSIVE WEB DESIGN ESSENTIALS COURSE/EXERCISE FILES/Exercise Files - Web Essentials/Project 1 - Restaurant/background-adare-restaurant.jpg');
    background-position: center;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
}
header{
    text-align: center;
}
ul{
    display: flex;
}
nav{
    overflow: hidden;
    background-color: rgb(128,128,128,0.331);
    height: 40px;
    text-align: center;
    padding-top: 17px;
}
nav a{
    text-align: center;
    color: #f2f2f2;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 17px;
    text-transform: uppercase;
}
section{
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    font-size: 80px;
}
pre{
    font-size: 15px;
    font-weight: 200;
    font-family: Arial, Helvetica, sans-serif;
}
section a:link,a:visited{
    color: white;
    text-align: center;
}
footer{
    background-color: rgb(128,128,128,0.331);
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    color: white;
    font-size: 20px;
}
iframe{
    padding: 30px 230px;
}